<app-breadcrumbs></app-breadcrumbs>
<div class="container-fluid">
    <div class="row">
        <div *ngIf="helperTitle" class="col-12 col-lg-9 pl-0">
            <app-helper [text]="helperTitle"></app-helper>
        </div>
        <div class="col-12">
            <app-card *ngIf="form">
                <app-card-body>
                    <app-form [form]="form"></app-form>
                </app-card-body>
                <app-card-footer>
                    <div class="row">
                        <div class="col-6">
                            <button (click)="onBack()" aria-label="Indietro" type="button" class="btn btn-link px-0">
                                {{'UTILS.BACK'|translate}}
                            </button>
                        </div>
                        <div class="col-6">
                            <button (click)="onUpdate()" [disabled]="form.invalid || isReadonly"
                                    aria-label="Inserisci nuovo utente"
                                    type="button"
                                    class="btn btn-primary float-right">
                                {{'ACCREDITAMENTO_FO.GESTIONE.EDIT.BUTTON'|translate}}
                            </button>
                        </div>
                    </div>
                </app-card-footer>
            </app-card>
        </div>
    </div>
</div>
