$primary_color: #005095;
$secondary_color: #c5004b;
$background_light: #008cdc;
$dialog_footer_color: #e6e9f2d9;
$border_color: #cccccc;
$input_background_color: #fcfcff;
$semi_dark: #19191a;
$popover_alert: #ff9700;

// variabili colori bootstrap italia
$primary-h: 205;
$primary-s: 100;
$primary-b: 73;
// variabili font bootstrap italia
$font-family-sans-serif: 'Titillium Web', 'Open Sans', sans-serif;
$font-family-serif: 'Custom Font', 'Open Sans', serif;

// header
$header_height: 60px;

//input
$active_input_color: #727272;
$label_color: #212529;

$blue-scriva: #006cb4;
