.label-text {
  text-align: left;
  font-weight: 600;
  letter-spacing: 0;
  opacity: 1;
  font-size: 16px;
}

.custom-header {
  padding-top: 20px !important;

  a {
    border-top: none !important;
  }
}

