@import '../styles/variables';

.burger-menu {
  line-height: 0;
  margin: auto;
}

.white-icon {
  fill: #000000;
}

.archive-selector {
  max-height: $header_height;
}

.dropdown-menu::before {
  background-color: #ffffff;
}

.dropdown-menu.show {
  background-color: #ffffff;
}

.dropdown a {
  background-color: #ffffff;
  line-height: 1.3em;
  padding: 0.5em 0 0.5em 1em !important;
  color: #000000;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown .archive {
  text-align: left;
  font: normal lighter 300 16px/22px Open Sans, sans-serif;
  letter-spacing: 0;
  color: #000000;
}
.descProfilo{
  padding-left: 0.5em;
}
.custom-header {
  height: 60px !important;
  background: #006cb4 !important;
  padding: 0;
  box-shadow: 0 3px 6px #00000029;
  .it-header-center-content-wrapper {
    padding-left: 75px;
    padding-right: 110px;
    @media screen and (max-width: 1280px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    .menu-icon {
      display: none;
      padding-top: 0;
      padding-left: 25px;
      float: left;
      align-items: center;
      @media screen and (max-width: 1024px) {
        display: flex;
      }
      @media screen and (max-width: 479px) {
        padding-left: 0;
      }
    }
    .it-brand-text {
      padding-left: 25px;
      float: left;
      display: flex;
      align-items: center;
      .title {
        text-align: left;
        font: normal normal bold 24px/60px Open Sans, sans-serif;
        letter-spacing: 0.48px;
        color: #ffffff;
        @media screen and (min-width: 480px) and (max-width: 991px) {
          font: normal normal bold 14px/20px Open Sans, sans-serif;
        }
      }
    }
  }
}

.rounded-icon {
  border-radius: 50%;
  background-color: #ffffff;
  width: 2em;
  height: 2em;
}

.very-small-icon {
  height: 12px !important;
  width: 12px !important;
  font-size: 9px !important;
  line-height: 9px !important;
}

.list-item span {
  text-align: left;
  font: normal normal normal 16px/22px Open Sans, sans-serif;
  letter-spacing: 0;
  color: #ffffff;
}

.bdi {
  text-align: left;
  font: normal normal bold 16px/22px Open Sans, sans-serif;
  letter-spacing: 0;
  color: #ffffff;
}

.max-height {
  height: 12px !important;
  width: 12px !important;
}

.login-button {
  color: white;
  box-shadow: inset 0 0 0 1px white;
  padding: 8px 24px;
}
