.list-header {
  text-align: center;
  font: normal normal bold 16px/24px Open Sans, sans-serif;
  letter-spacing: 0;
  color: #212529;
  opacity: 1;
}


.dropdown-menu {
  width: 95%;

  .list-item {
    font: normal normal bold 16px Open Sans, sans-serif;
    letter-spacing: 0;
    opacity: 1;
    height: 35px;
  }

  .active {
    color: #006bb9;
    cursor: pointer;
  }

  .disabled {
    color: #5c6f82;
  }
}
