<footer class="it-footer">
    <div class="it-footer-main">
        <div class="cnt-logo">
            <div class="logo">
                <div class="row clearfix">
                    <div class="col-sm-4 col-12 regione">
                        <div>
                            <img src="assets/images/logo-regione.svg" alt="{{'FOOTER.ALTREGIONE' | translate }}">
                        </div>
                    </div>
                    <div class="col-sm-4 col-12 euro">
                        <div>
                            <img src="assets/images/logo-euro.png" alt="{{'FOOTER.ALTINIZIATIVA' | translate }}">
                        </div>
                    </div>
                    <div class="col-sm-4 col-12 ccc">
                        <div>
                            <img src="assets/images/logo-ccc.png" alt="{{'FOOTER.ALTFONDOEUROPEO' | translate }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer"> 
            <a rel="noopener noreferrer" href="https://www.regione.piemonte.it/web/cookie-policy" target="_blank">{{'FOOTER.LINK.COOKIE' | translate }}</a>
            <a rel="noopener noreferrer" href="https://www.regione.piemonte.it/web/note-legali-privacy" target="_blank">{{'FOOTER.LINK.PRIVACY' | translate }}</a>
        </div>
    </div>
</footer>
