<div #body>
    <div>
        <div class='px-3 py-2 mx-auto'>
            {{ messageConfirm.testoMsg }}
        </div>
    </div>
</div>

<div #footer class='row justify-content-center py-2'>
    <button class='btn btn-primary btn-sm m-2 p-2'
            type='button' (click)='onDelete()'
            style='background-color: #005095; width: 126px; height: 48px; line-height: 15px;'>
        {{ 'UTENTI.DELETE.FOOTER.CONFIRM' | translate }}
    </button>
    <button class='btn btn-outline-primary btn-sm m-2 p-2'
            (click)='onDismiss()'
            type='button'
            style='border: #005095 2px solid; width: 126px; height: 48px;'>
        {{ 'UTENTI.DELETE.FOOTER.CANCEL' | translate }}
    </button>
</div>
