.header-nav {
  // color: var(---212529-colore-font);
  text-align: left;
  font: normal normal normal 12px/18px Open Sans, sans-serif;
  letter-spacing: 0;
  color: #212529;
  opacity: 1;
  height: 35px;
}

.search-header {
  background-color: #008cdc;
  height: 80px;
}

.title-header {
  color: #fff;
  font-size: 23px;
}

h1 {
  text-align: left;
  font: normal normal bold 18px Open Sans;
  letter-spacing: 0;
  color: #000000;
}

.separator {
  width: 60px;
  height: 5px;
  background: #b91818 0% 0% no-repeat padding-box;
}
