<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-9 pl-0" *ngIf="helperTitle">
      <app-helper [text]="helperTitle"></app-helper>
    </div>
    <div class="col-12">
      <app-card *ngIf="form">
        <app-card-body>
          <div class="row">
            <div class="col-10">
              <app-form [form]="form"></app-form>
            </div>
            <div class="col-2">
              <button *ngIf="acl.content.delete && isEditMode" aria-label="Elimina" title="Elimina" class="btn btn-action p-0" (click)="onDeleteLinea()">
                <img alt="Eliminare i dati della linea" height="20px" src="assets/icon/icon-table-elimina.svg">
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-12" style="position: relative;">
              <ul class="nav nav-tabs flex-sm-row  mt-4 mb-1" style="background: #F7F7F7;">
                <li class="nav-item mt-1 mb-1" *ngFor="let tabElement of tabElements">
                  <a [ngClass]="{
                        'nav-link': true,
                        active: tabElement.link == activeElement
                    }" [attr.aria-selected]="tabElement.link == activeElement"
                    [tabindex]="tabElement.disabled == true ? -1 : 0" (click)="onChangeActiveTab(tabElement)"
                    style="background: #F7F7F7; cursor:pointer;">
                    <app-icon *ngIf="tabElement.icon != undefined" [name]="tabElement.icon.name"
                      [type]="tabElement.icon.type" [cssClass]="tabElement.icon.cssClass" [fill]="tabElement.icon.fill"
                      [size]="tabElement.icon.size" [color]="tabElement.icon.color" [padding]="tabElement.icon.padding"
                      [baseHref]="tabElement.icon.baseHref"></app-icon>
                    {{ tabElement.title|translate}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- TABS -->
          <div class="row">
            <div class="col-12" style="position: relative;">
                <div *ngIf="activeId == 'descrizione'">
                  <app-tab-descrizione [isEditMode]="isEditMode" [prevConsLinea]="selectedPrevConsLinea" [idPrevCons]="prevCons.idPrevCons">
                  </app-tab-descrizione>
                </div>

                <div *ngIf="activeId != 'descrizione'">
                  <app-tab-rifiuti [isEditMode]="isEditMode" [tabName]="activeId" [selectedTabObject]="selectedTabObject"
                                    [isLegameRmr]="isLegameRmr" [idPrevCons]="prevCons.idPrevCons" [messages]="messages"
                                    (sendEvent)="listenerAction($event)" [annoTributoPrevCons]="prevCons.annoTributo">
                  </app-tab-rifiuti>
                </div>
            </div>
          </div>
          <!-- TABS END -->
          <!-- RIEPILOGO -->
          <div class="row  percentuali">
            <div class="col-lg-8">
              <strong *ngIf="prevCons.tipoDoc.idTipoDoc == 2"> {{'DICHIARAZIONI_MR.TABS.PROCESSO.PERCENTUALI.TITLE'|translate}} </strong>
              <strong *ngIf="prevCons.tipoDoc.idTipoDoc == 1"> {{'RICHIESTA_MR.TABS.PROCESSO.PERCENTUALI.TITLE'|translate}} </strong>
              <div class="col-12 mt-2">
                <div class="row">
                  <div class="col-9"> {{'DICHIARAZIONI_MR.TABS.PROCESSO.PERCENTUALI.RECUPERO'|translate}} </div>
                  <div class="col-3 text-right tot">{{ percRecupero | percent: '1.0-2' }} </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-9"> {{'DICHIARAZIONI_MR.TABS.PROCESSO.PERCENTUALI.SCARTO'|translate}} </div>
                  <div class="col-3 text-right tot"> {{ percScarto | percent: '1.0-2' }} </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 ">
              <strong> {{'DICHIARAZIONI_MR.TABS.PROCESSO.RIEPILOGO.TITLE'|translate}} </strong>
              <div class="col-12 mt-2">
                <div class="row">
                  <div class="col-3"> {{'DICHIARAZIONI_MR.TABS.PROCESSO.RIEPILOGO.TOTrii'|translate}} </div>
                  <div class="col-9 text-right tot"> {{ totRii | number : '1.0-4'}} </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-3"> {{'DICHIARAZIONI_MR.TABS.PROCESSO.RIEPILOGO.TOTmat'|translate}} </div>
                  <div class="col-9 text-right tot"> {{ totMat | number : '1.0-4'}} </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-3"> {{'DICHIARAZIONI_MR.TABS.PROCESSO.RIEPILOGO.TOTrru'|translate}} </div>
                  <div class="col-9 text-right tot"> {{ totRru | number : '1.0-4'}} </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-3"> {{'DICHIARAZIONI_MR.TABS.PROCESSO.RIEPILOGO.TOTru'|translate}} </div>
                  <div class="col-9 text-right tot"> {{ totRu | number : '1.0-4'}} </div>
                </div>
              </div>
            </div>
          </div>
          <!-- RIPILOGO END -->
        </app-card-body>
      </app-card>
    </div>
  </div>
</div>
