<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-9 pl-0" *ngIf="helperTitle">
      <app-helper [text]="helperTitle"></app-helper>
    </div>
    <div class="col-12" *ngIf="formData && formModalita">
      <p style="font-weight: 600;
      line-height: 1.5;
      letter-spacing: normal;" class="primary-color">{{ 'DICHIARAZIONI_MR.TABS.RICHIESTA.FORM.DATA' | translate }}</p>
      <app-form [form]="formData"></app-form>
      <p style="font-weight: 600;
      line-height: 1.5;
      letter-spacing: normal;" class="primary-color">{{ 'DICHIARAZIONI_MR.TABS.RICHIESTA.FORM.MODALITA' | translate }}</p>
      <app-form [form]="formModalita"></app-form>
    </div>
  </div>
</div>
