<app-breadcrumbs *ngIf="!isEmbed"></app-breadcrumbs>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-9 pl-0"  *ngIf="!isEmbed && acl.content.update">
            <app-helper [text]="helperTitle"></app-helper>
        </div>
        <div class="col-12">
            <app-card *ngIf="form">
                <app-card-body>
                    <app-form [form]="form"></app-form>
                    <app-form [form]="formValidita"></app-form>
                    <p style="font-weight: 600;line-height: 1.3; letter-spacing: normal;">{{ 'GESTORI.CREATE.FORM.SEDE_LEGALE' | translate }}</p>
                    <app-form [form]="formSedeLegale"></app-form>
                    <p style="font-weight: 600;line-height: 1.3; letter-spacing: normal;">{{ 'GESTORI.CREATE.FORM.CONTATTI' | translate }}</p>
                    <app-form [form]="formContatti"></app-form>
                    <p style="font-weight: 600;line-height: 1.3; letter-spacing: normal;">{{ 'GESTORI.CREATE.FORM.LEGALE_RAPPRESENTANTE' | translate }}</p>
                   <app-form [form]="formLegaleRappresentante"></app-form>
                </app-card-body>
                <app-card-footer>
                    <div class="row" *ngIf="!isEmbed">
                        <div class="col-6">
                            <button (click)="onBack()" aria-label="Indietro" type="button" class="btn btn-link px-0">
                                {{'UTILS.BACK'|translate}}
                            </button>
                        </div>
                        <div class="col-6" *ngIf="acl.content.update && !isReadonly">
                            <button (click)="onUpdate()"
                                    [disabled]="form.invalid || formSedeLegale.invalid || formContatti.invalid || formLegaleRappresentante.invalid || formValidita.invalid"
                                    aria-label="Inserisci nuovo gestore"
                                    type="button"
                                    class="btn btn-primary float-right">
                                {{'GESTORI.EDIT.BTN'|translate}}
                            </button>
                        </div>
                    </div>
                </app-card-footer>
            </app-card>
        </div>
    </div>
</div>
