<?xml version="1.0" encoding="UTF-8"?>
<!--
   * SPDX-License-Identifier: EUPL-1.2
   * Copyright Regione Piemonte - 2022
-->
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://JAVA.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">



	
	<listener>
		<listener-class>it.csi.tsddr.tsddrbl.util.AppServletContextListener</listener-class>
   	</listener>
   <listener>
      <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
   </listener>
   
	<listener>
      <listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
   </listener>
<!-- 
    <listener>
    	<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
   	</listener> 
   	 -->
   	 
   	 
   	<filter> 
	    <filter-name>ExceptionHandlerFilter</filter-name> 
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>exceptionHandlerFilter</param-value>
		</init-param>
	</filter> 

	<filter-mapping> 
	    <filter-name>ExceptionHandlerFilter</filter-name> 
	    <url-pattern>/rest/*</url-pattern> 
	</filter-mapping> 
	   	 
   <!-- filtro di protezione ad attacchi XSRF -->
   <filter>
		<filter-name>XSRFProtectionFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>XSRFProtectionFilter</param-value>
  		</init-param>
   </filter>
   <filter-mapping>
		<filter-name>XSRFProtectionFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
   </filter-mapping>
   
	<!-- filtro per impostare header del log -->
   <filter>
		<filter-name>LogHeaderFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>logHeaderFilter</param-value>
		</init-param>
   </filter>
   <filter-mapping>
		<filter-name>LogHeaderFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
   </filter-mapping>


    <!-- filtro di recepimento token autenticazione -->
	<filter>
		<filter-name>IrideIdAdapterFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>irideIdAdapterFilter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>IrideIdAdapterFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	
	 <!-- filtro di controllo profilo -->
	<filter>
		<filter-name>ProfileFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>profileFilter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ProfileFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	
	<!-- filtro CORS -->
	<filter>
	    <filter-name>CorsFilter</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	    <init-param>
	    	<param-name>targetBeanName</param-name>
			<param-value>corsFilter</param-value>
  		</init-param>
	</filter> 
	<filter-mapping>
	    <filter-name>CorsFilter</filter-name>
	    <url-pattern>/rest/*</url-pattern>
	</filter-mapping>
 	
  <!-- replica della sessione (pur essendo i servizi stateless, serve per replicare il contesto 
       di autenticazione e il token xsrf, quindi e' necessario solo nello scenario SPA-REST -->
  <!--  <distributable />  -->
	
</web-app>
