<div class='modal-content custom-modal-radius'>
  <div class='modal-header custom-modal-header' *ngIf='options?.header != undefined'>
    <h5 class='my-auto custom-modal-title'>{{ options?.header }}</h5>
    <button class='close'
            type='button'
            data-dismiss='modal'
            aria-label='Close'
            (click)='onDismiss()'
            *ngIf='options?.showCloseButton'>
      <app-icon
        [name]="'it-close'"
        [cssClass]="'custom-icon cursor-pointer float-right'"
        [fill]="'#727272'"
        [size]="'large'"
      ></app-icon>
    </button>
  </div>
  <div class='modal-body justify-content-center'>
    <div class='bodyTemplate'>
      <ng-container #body>
      </ng-container>
    </div>
  </div>
</div>
