<tr>
  <th *ngFor="let column of columns" scope="col" [style.width.%]="column.width">
    <!-- TODO: richiamare un metodo sul template non è performante spostare la logica in una direttiva o su un pipe -->
    <app-checkbox-input
      *ngIf="column.checkboxable"
      name="headerCheckbox"
      [checked]="checkboxChecked()"
      [indeterminate]="checkboxIndeterminate()"
      (change)="$event.stopPropagation(); checkboxToggle.emit($event)"
    ></app-checkbox-input>

    <!-- TODO: richiamare un metodo sul template non è performante spostare la logica in una direttiva o su un pipe -->
    <span
      *ngIf="column.sortable && column.name"
      (click)="sort($event, column)"
      class="sort cursor-pointer"
      [ngClass]="currentDirection(column.prop)"
    >
      {{ column.name }}
      <span class="visually-hidden">
        {{ 'UTILS.TABLE.ORDER_BY' | translate }} {{ column.name }}
      </span>
      <app-icon
        [name]="'it-arrow-up-triangle'"
        [cssClass]="
          'cursor-pointer icon-primary top ' +
          (currentDirection(column.prop) === 'desc' ? 'hidden' : '')
        "
        [type]="'it'"
        [size]="'small'"
      >
      </app-icon>
      <app-icon
        [name]="'it-arrow-down-triangle'"
        [cssClass]="
          'cursor-pointer icon-primary bottom ' +
          (currentDirection(column.prop) === 'asc' ? 'hidden' : '')
        "
        [type]="'it'"
        [size]="'small'"
      >
      </app-icon>
    </span>
    <span *ngIf="!column.sortable">{{ column.name }}</span>
  </th>
</tr>
