.card-container {
    padding-left: 22px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-right: 28px;
    margin-top: 20px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 1px 2px 8px #eaeaea;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
